:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  background-color: #F3EAE3;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center; 
}

h1 {
  font-family: "Fraunces";
  color: var(--clr-neutral-900);

}

header {
  font-family: "Montserrat";
  color: var(--clr-neutral-400);
}
p {
  color: var(--clr-neutral-400);
}
#container {
  padding: 0 30px;
  width: 600px;
  border: 1px solid transparent;
  border-radius: 10px;
}


.main_image{
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  margin-bottom: -10px;
}


.main-content {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span:first-child {
  color: var(--clr-primary-400);
  font-size: 1.5rem;
  font-family: "Fraunces";
  font-weight: 700;
}

sup {
  color: var(--clr-neutral-400);
  margin-left: 10px;
  font-size: 0.89rem;
  text-decoration: line-through;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 0.64rem 2rem;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background-color: var(--clr-primary-400);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
}

.icon_cart {
  margin-right: 10px;
}

button:hover {
  background-color: var(--clr-primary-500);
}


@media (min-width: 585px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main_image {
    display: inline-block;
    max-width: 100%;
    border-radius: 20px 0 0 20px;
    margin-bottom: -4.2px;
  }

  .main-content {
    max-width: 100%;
    border-radius: 0 20px 20px 0;
  }
}
