body {
  background-color: hsl(212, 48%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img { 
  max-width: 100%;
  border-radius: 20px;
}

#container {
  text-align: center;
  margin: 10px 10px;
  width: 23em;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #fff;
}

h3 { 
  font-family: "Outfit";
  font-weight: 700;
}

p {
  font-family: "Outfit";
  text-align: center;
  font-weight: 400;
  color: hsl(200, 15%, 55%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
